
p{
    margin-top: 0px; 
    margin-bottom: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

.video-titlee {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    font-weight: 600;
    color: black;
    margin-bottom: 4px;
    font-style: italic;
    text-align: center;
    width: 500px;
    line-height: 26px;
    margin-bottom: 0px;
}   

.video-stats {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: gray;
    margin-bottom: 12px;
    text-align: left;
    margin-left: 34px;
    margin-top: 2px;  
}

.video-author {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: gray;
    margin-bottom: 12px;
    text-align: left;
    margin-left: 34px;
    margin-top: 2px;  
}

.video-description {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: gray;
    margin-bottom: 12px;
    text-align: left;
    margin-left: 34px;
    margin-top: 2px; 
    width: 500px; 
}

.shop-link {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    background-color: tomato;
    color: white;
    margin-bottom: 12px;
    text-align: left;
    margin-left: 34px;
    margin-top: 2px;  
    padding-right: 10px;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 500px;
}

.shopNow {
    font-weight: bold;
    color:  white;
}

.shopNow:hover {
    text-decoration: underline;
    cursor: pointer;
}
